name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/fastapi-cicd
            git pull origin main
            docker build -t fastapi-app .
            docker stop fastapi-container || true
            docker rm fastapi-container || true
            AWS_KEY=$(grep aws_access_key_id ~/.aws/credentials | cut -d= -f2 | tr -d ' ')
            AWS_SECRET=$(grep aws_secret_access_key ~/.aws/credentials | cut -d= -f2 | tr -d ' ')
            docker run -d -p 8000:8000 \
              -e AWS_ACCESS_KEY_ID="$AWS_KEY" \
              -e AWS_SECRET_ACCESS_KEY="$AWS_SECRET" \
              -e AWS_DEFAULT_REGION="eu-north-1" \
              --name fastapi-container fastapi-app
